<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="box">
        <h1>Welcome, <%= name %>!</h1>
        <p>You are logged in.</p>
        <a class="logout" href="/logout">Log Out</a>
    </div>
</body>
</html>