<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="box">
        <i class="fa-solid fa-lock" style="font-size: 40px; color: #007bff; margin-bottom: 15px;"></i>
        <h1>Login</h1>
        <form method="POST" action="/login">
            <div class="input-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" placeholder="Username">
            </div>
            <div class="input-group">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="password" placeholder="Password">
            </div>
            <button type="submit">Log In</button>
        </form>
    </div>
</body>
</html>