<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <div class="box">
        <i class="fa-solid fa-user-plus" style="font-size: 40px; color: #667eea; margin-bottom: 15px;"></i>
        <h1>Register</h1>
        <form method="POST" action="/register">
            <div class="input-group">
                <i class="fa-solid fa-user"></i>
                <input type="text" name="username" placeholder="Choose a username">
            </div>
            <div class="input-group">
                <i class="fa-solid fa-key"></i>
                <input type="password" name="password" placeholder="Choose a password">
            </div>
            <button type="submit">Register</button>
        </form>
        <p>Already have an account? <a href="/login">Log in</a></p>
    </div>
</body>
</html>